body {
    background-image: url("slike/gym.jfif");
    height: 1000px;
    background-size: cover;
    font-family: 'Lora', serif;
}

#MainContent_GridView1 {
    background-color: black;
    color: white;
    margin: auto;
    text-align:center;
    border: 3px solid white;
}
#MainContent_ddl {
    background-color: black;
    color: white;
    margin: auto;
}
.about{
    margin:auto;
    border:2px solid black;
    text-align:center;
    width:40%;
}
.div1{
    margin-left:30%;
}
.div2{
    margin-left:37%;

}


