body {
    background-image: url("slike/gym.jfif");
    height:1000px;
    background-size:cover;
}
#MainContent_GridView1{
    background-color:black;
    color:white;
    margin:auto;
    border:3px solid white;
}
